oauth2-external-provider/src/main/app/oauth2.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd">
    <flow name="oauth2-main">
        <http:listener config-ref="oauth-api-http-lc-8089" path="/oauth/*" doc:name="HTTP" />
        <apikit:router config-ref="oauth2-config" doc:name="APIkit Router" />
        <exception-strategy ref="oauth2-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="oauth2-console">
        <http:listener config-ref="oauth-api-http-lc-8089" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="oauth2-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/delete:oauth2-config">
        <oauth2-provider:revoke-token config-ref="OAuth_provider_module" token="#[message.inboundProperties.'access_token']" doc:name="OAuth provider module to delete token"/>
    </flow>
   
    <flow name="get:/token:oauth2-config">
        <oauth2-provider:validate config-ref="OAuth_provider_module" doc:name="OAuth provider module to get token" />
        <custom-processor class="com.mulesoft.module.oauth2.ValidatorResponseBuilder" doc:name="ValidatorResponseBuilder" name="Custom_Processor" />
    </flow>
    <flow name="get:/validate:oauth2-config">
        <oauth2-provider:validate config-ref="OAuth_provider_module" doc:name="OAuth provider module to validate token" />
        <custom-processor class="com.mulesoft.module.oauth2.ValidatorResponseBuilder" doc:name="ValidatorResponseBuilder" name="Custom_Processor1" />
        <!--  <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/> -->
    </flow>
  
</mule>
